//$grid-gutter-width: 14px;
//$h1-font-size: 24px;
//$h2-font-size: 22px;
//$body-bg: #f1f1f1;

//@import "~bootstrap/scss/bootstrap.scss";

.site-layout-background {
  padding-left: 8px !important;
  padding-right: 8px !important;

  @media (min-width: 576px) {
    padding-left: 40px !important;
    padding-top: 30px;
    min-height: 360px;
  }
}

.ant-layout-sider-zero-width-trigger {
 top: 0px;
 line-height: 28px;
 height: 30px;
}

.right-menu {
  .ant-menu {
    background: none;
    border: none;
    line-height: 18px;
  }
}

.right-menu {
  & .ant-menu-submenu-title,
  & .ant-menu-submenu-title span {
    padding: 0px;
    margin: 0px;
  }
}

.right-menu {
  & .ant-menu-submenu-title span {
    padding: 4px;
  }
}

.logos {
  text-align: center;
  padding: 14px;
  margin: 0px;
  font-size: 1.4rem;
  line-height: 24px;
}

.ant-layout-header {
  height: auto;
}

.ant-layout-header,
.ant-layout-footer {
  background: #7dbcea;
  color: #fff;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;

}
.ant-layout {
  background-color: #f1f1f1;
}

[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  //background: rgba(14, 138, 229, 0.26);
  color: #fff;
  min-height: 120px;
}
[data-theme="dark"] .ant-layout-content {
  //background: #107bcb;
}

/*{
  width: 20px;
  heigth: 20px;
  margin-top: 7xp;
}*/

header {
  margin-bottom: 20px !important;

  @media (min-width: 576px) {
    margin-bottom: 6px !important;
  }
}

.ant-page-header {
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-size: 1.0rem;

  @media (min-width: 576px) {
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-left: 0px !important;
    font-size: 1.1rem !important;
  }
}

.site-layout-sub-header-background {
  padding-left: 10px !important;

  @media (min-width: 576px) {
    padding-left: 40px !important;
  }
}



